.content p {
  text-align: justify;
}

/* ======== ESTILO BASE (modo light) ======== */
a.tag {
  display: inline-block;
  padding: 0.06rem 0.6rem;
  margin: 0 0.25rem 0.25rem 0;
  border-radius: 0.7rem;
  font-size: 0.875rem;
  font-family: monospace;
  background-color: #f3f4f6;
  color: #111827;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a.tag:hover {
  background-color: #e5e7eb;
}

a.tag.active {
  background-color: #2563eb !important;
  color: #ffffff !important;
  font-weight: 600;
}

/* ======== DARK MODE ======== */
html.dark a.tag {
  background-color: #374151;
  color: #f3f4f6;
}

html.dark a.tag:hover {
  background-color: #4b5563;
}

html.dark a.tag.active {
  background-color: #3b82f6 !important;
  color: #ffffff !important;
}

html.dark .content img {
    /* O filtro inverte as cores da imagem (preto vira branco), 
      essencial para PNGs transparentes ou SVGs que usam linhas pretas.
    */
    filter: invert(100%) hue-rotate(180deg);
    
    /* Opcional: Transição suave ao alternar entre os modos */
    transition: filter 0.3s ease-in-out;
}